.row{

	@mixin clearFix;

	&__gutters{
		margin-right: -65px;
	}

	&__gutters_m_6{
		margin-right: -100px;
	}

	&__gutters_m{
		margin-right: -45px;
	}

	&__gutters > div{
		padding-right: 65px;
	}

	&__gutters_m_6 > div{
		padding-right: 100px;
	}

	&__gutters_m > div{
		padding-right: 45px;
	}
	&__b_margin_until_medium{
		margin-bottom: 1rem;
	}
	
	&__t_padding{
		padding-top: 80px;
	}

	
	@mixin atMedium{
		&__m_6{
		float: left;
		width: 50%;
	}
	}
	
	@mixin atMedium{
		&__m_4{
		float: left;
		width: 33.33%
	}

	&__b_margin_until_medium{
		margin-bottom: 0;
	}

	&__b_margin_until_m_6{
		margin-bottom: -10px;
	}

	&__m_4_larger{

		width: 37%
	}

}
	@mixin atMedium{
		&__m_8{
		float: left;
		width: 66.66%
	}
	
	&__m_8_smaller{
		float: left;
		width: 63%
	}
}

/*begin equal height Rules*/
&__equal_at_medium{
	
	@mixin atMedium{
		display: flex;
	}
		
		& > div{
			float: none;
			display: flex;
		}		

}
	
}
