.row{

	@mixin clearFix;

	&__gutters{
		margin-right: -65px;
	}

	&__gutters_m_6{
		margin-right: -90px;
	}

	&__gutters_m_6 > div{
		margin-right: 90px;
	}

	&__gutters > div{
		padding-right: 65px;
	}

	&__b_margin_until_medium{
		margin-bottom: 1rem;
	}

	&__m_6{
		float: left;
		width: 50%;
	}
	@mixin atMedium{
		&__m_4{
		float: left;
		width: 33.33%
	}

	&__b_margin_until_medium{
		margin-bottom: 0;
	}


	&__m_4_larger{

		width: 37%
	}
	&__m_8{
		float: left;
		width: 66.66%
	}
	&__m_8_smaller{
		width: 63%
	}

	}
	
}
