.svg-clear-view-escapes {
	background: url("svg/sprite-e7ff6e9a.svg") 0 0 no-repeat;
}

.svg-clear-view-escapes-dims {
	width: 142.4px;
	height: 59.53px;
}

.svg-comment {
	background: url("svg/sprite-e7ff6e9a.svg") 0 48.00806451612903% no-repeat;
}

.svg-comment-dims {
	width: 64px;
	height: 64px;
}

.svg-facebook {
	background: url("svg/sprite-e7ff6e9a.svg") 86.80657778525466% 28.810192478936912% no-repeat;
}

.svg-facebook-dims {
	width: 21.23px;
	height: 42.01px;
}

.svg-fire {
	background: url("svg/sprite-e7ff6e9a.svg") 31.527093596059114% 48.00806451612903% no-repeat;
}

.svg-fire-dims {
	width: 56px;
	height: 64px;
}

.svg-globe {
	background: url("svg/sprite-e7ff6e9a.svg") 73.02564102564102% 0 no-repeat;
}

.svg-globe-dims {
	width: 64px;
	height: 64px;
}

.svg-instagram {
	background: url("svg/sprite-e7ff6e9a.svg") 95.11959076455136% 57.58613603671484% no-repeat;
}

.svg-instagram-dims {
	width: 42.01px;
	height: 42.01px;
}

.svg-mail {
	background: url("svg/sprite-e7ff6e9a.svg") 73.02564102564102% 45.714285714285715% no-repeat;
}

.svg-mail-dims {
	width: 64px;
	height: 48px;
}

.svg-rain {
	background: url("svg/sprite-e7ff6e9a.svg") 0 99.62096774193549% no-repeat;
}

.svg-rain-dims {
	width: 64px;
	height: 64px;
}

.svg-star {
	background: url("svg/sprite-e7ff6e9a.svg") 32.82051282051282% 99.62096774193549% no-repeat;
}

.svg-star-dims {
	width: 64px;
	height: 64px;
}

.svg-twitter {
	background: url("svg/sprite-e7ff6e9a.svg") 99.60428530064665% 0 no-repeat;
}

.svg-twitter-dims {
	width: 51.78px;
	height: 42.06px;
}

.svg-wifi {
	background: url("svg/sprite-e7ff6e9a.svg") 64.321608040201% 99.62096774193549% no-repeat;
}

.svg-wifi-dims {
	width: 60px;
	height: 64px;
}

.svg-youtube {
	background: url("svg/sprite-e7ff6e9a.svg") 92.04013377926421% 86.35616438356163% no-repeat;
}

.svg-youtube-dims {
	width: 34.75px;
	height: 42px;
}

