.wrapper{
	padding-left: 18px;
	padding-right: 18px;
	overflow: hidden;
	max-width: 1236px;
	margin-left:auto;
	margin-right:auto;
	
	&__medium{
		max-width: 976px;
	}

	&__narrow{
		max-width: 470px;
	}

	&__no_padding_until_large{
		padding-left: 0;
		padding-right: 0;
		
		@mixin atLarge{
			padding-left: 18px;
			padding-right: 18px;

		}
	}


	&__b_margin{

		margin-bottom: 1rem;
		@mixin atSmall{
			margin-bottom: 3.875rem;
		}
	}

	.wrapper{
		padding-left: 0;
		padding-right: 0;
	}
}